snippet af "[Arrow Function] simple arrow function" b
const ${1:func} = ($2) => {
	$3
}
endsnippet

snippet rf "[Regular Function] simple ragular function" b
function ${1:func}($2) {
	$3
}
endsnippet
