[Desktop Entry]
Version=1.0
Name=Messenger
Comment=Messenger
Exec=omarchy-launch-webapp https://messenger.com
Terminal=false
Type=Application
Icon=/home/anatole/.local/share/applications/icons/Messenger.png
StartupNotify=true
